# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: read-all

jobs:
  compile:
    name: Compile everything
    runs-on: ubuntu-latest

    # allow 'Update dependency graph' step below to submit the generated graph
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Set up JDK 25
      uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3.14.1
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -DskipTests clean install deploy:deploy --file pom.xml
    - name: Download deps for offline tests
      run: mvn dependency:go-offline
    - name: Download additional deps to keep surefire plugin happy
      # to be removed once maven-surefire-plugin allows using a custom junit platform version
      run: mvn dependency:get -Dartifact=org.junit.platform:junit-platform-launcher:1.12.1
    - name: Cache build artifacts
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      id: buildcache
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ github.run_id }}-${{ github.run_attempt }}
    - name: Archive deployables
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      continue-on-error: true
      with:
        name: deployable-repo
        path: /tmp/maven-repo/
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
      continue-on-error: true

  test:
    needs: compile
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        testset:
          - 'coordination/base'
          - 'storage/block/base'
          - 'storage/block/balancer'
          - 'storage/block/blockmanagement'
          - 'storage/block/datanode'
          - 'storage/block/dfs-base'
          - 'storage/block/fs-base'
          - 'storage/block/misc'
        include:
          - telemetryport: 4317
            testset: 'coordination/base'
          - telemetryport: 4319
            testset: 'storage/block/base'
          - telemetryport: 4321
            testset: 'storage/block/balancer'
          - telemetryport: 4323
            testset: 'storage/block/blockmanagement'
          - telemetryport: 4325
            testset: 'storage/block/datanode'
          - telemetryport: 4327
            testset: 'storage/block/dfs-base'
          - telemetryport: 4329
            testset: 'storage/block/fs-base'
          - telemetryport: 4331
            testset: 'storage/block/misc'
          - telemetryoutput: 'coordination-base'
            testset: 'coordination/base'
          - telemetryoutput: 'storage-block-base'
            testset: 'storage/block/base'
          - telemetryoutput: 'storage-block-balancer'
            testset: 'storage/block/balancer'
          - telemetryoutput: 'storage-block-blockmanagement'
            testset: 'storage/block/blockmanagement'
          - telemetryoutput: 'storage-block-datanode'
            testset: 'storage/block/datanode'
          - telemetryoutput: 'storage-block-dfs-base'
            testset: 'storage/block/dfs-base'
          - telemetryoutput: 'storage-block-fs-base'
            testset: 'storage/block/fs-base'
          - telemetryoutput: 'storage-block-misc'
            testset: 'storage/block/misc'
          - testname: 'Base distributed coordination tests'
            testset: 'coordination/base'
          - testname: 'Base distributed block storage tests'
            testset: 'storage/block/base'
          - testname: 'Distributed block storage balancer tests'
            testset: 'storage/block/balancer'
          - testname: 'Distributed block storage management tests'
            testset: 'storage/block/blockmanagement'
          - testname: 'Distributed block storage datanode tests'
            testset: 'storage/block/datanode'
          - testname: 'Base distributed block dfs storage tests'
            testset: 'storage/block/dfs-base'
          - testname: 'Base distributed block fs storage tests'
            testset: 'storage/block/fs-base'
          - testname: 'Misc distributed block storage tests'
            testset: 'storage/block/misc'
    name: Testing, ${{ join(matrix.*, ' - ') }}

    services:
      otel-to-parquet:
        image: mishmashio/opentelemetry-parquet-server
        ports:
          - ${{ matrix.telemetryport }}:4317
        volumes:
          - /tmp/tests-parquet/${{ matrix.telemetryoutput }}:/parquet

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Set up JDK 25
      uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3.14.1
      with:
        java-version: '25'
        distribution: 'temurin'
    - name: Download latest OpenTelemetry java agent
      run: curl -L -o /tmp/opentelemetry-javaagent.jar https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/latest/download/opentelemetry-javaagent.jar
    - name: Restore cached build artifacts
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      id: buildcache
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ github.run_id }}-${{ github.run_attempt }}
        fail-on-cache-miss: true
    - name: Run test set ${{ matrix.testset }}
      env:
        OTEL_SERVICE_NAME: maven-test-service
        OTEL_RESOURCE_ATTRIBUTES: git.ref=${{ github.ref }},git.sha=${{ github.sha }}
        OTEL_EXPORTER_OTLP_PROTOCOL: grpc
        OTEL_EXPORTER_OTLP_ENDPOINT: http://localhost:${{ matrix.telemetryport }}
      run: cd tests/${{ matrix.testset }} && mvn --offline -Dsurefire.rerunFailingTestsCount=2 -Dtest.instrumentation.opts=-javaagent:/tmp/opentelemetry-javaagent.jar test --file pom.xml
    - name: Create test reports
      run: cd tests/${{ matrix.testset }} && mvn javadoc:test-javadoc jxr:test-jxr-no-fork surefire-report:report-only
      if: always()
    - name: Upload tests report
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: test-reports-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/reports
    - name: Upload tests extra files
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: test-raw-files-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/surefire
    - name: Upload tests raw reports
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: test-raw-reports-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/surefire-reports
    - name: Upload telemetry logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: build-telemetry-logs-${{ matrix.telemetryoutput }}
        path: /tmp/tests-parquet/${{ matrix.telemetryoutput }}/logs-*.parquet
    - name: Upload telemetry metrics
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: build-telemetry-metrics-${{ matrix.telemetryoutput }}
        path: /tmp/tests-parquet/${{ matrix.telemetryoutput }}/metrics-*.parquet
    - name: Upload telemetry traces
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: always()
      continue-on-error: true
      with:
        name: build-telemetry-traces-${{ matrix.telemetryoutput }}
        path: /tmp/tests-parquet/${{ matrix.telemetryoutput }}/traces-*.parquet
    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive

#    - name: Publish Test Report
#      if: success() || failure()
#      uses: scacap/action-surefire-report@v1
  site:
    name: Update project web site
    needs: test
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download test reports
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: test-reports
          pattern: test-reports-*
          merge-multiple: true
      - name: Copy static files
        run: cp -R site/* test-reports
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: test-reports/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5