# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  compile:
    uses: mishmash-io/github-workflows/.github/workflows/maven_build_with_provenance.yml@5ef9d195e82359f235a8f32eac5f3bdff1aacd00
    permissions:
      id-token: write
      contents: write
      attestations: write
      artifact-metadata: write
    secrets: inherit
    with:
      skip-tests: true
      java-version: '25'

  test:
    needs: compile
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        testset:
          - 'coordination/base'
          - 'storage/block/base'
          - 'storage/block/balancer'
          - 'storage/block/blockmanagement'
          - 'storage/block/datanode'
          - 'storage/block/namenode'
          - 'storage/block/dfs-base'
          - 'storage/block/fs-base'
          - 'storage/block/misc'
        include:
          - telemetrygrpcport: 4317
            testset: 'coordination/base'
          - telemetryhttpport: 4318
            testset: 'coordination/base'
          - telemetrygrpcport: 4319
            testset: 'storage/block/base'
          - telemetryhttpport: 4320
            testset: 'storage/block/base'
          - telemetrygrpcport: 4321
            testset: 'storage/block/balancer'
          - telemetryhttpport: 4322
            testset: 'storage/block/balancer'
          - telemetrygrpcport: 4323
            testset: 'storage/block/blockmanagement'
          - telemetryhttpport: 4324
            testset: 'storage/block/blockmanagement'
          - telemetrygrpcport: 4325
            testset: 'storage/block/datanode'
          - telemetryhttpport: 4326
            testset: 'storage/block/datanode'
          - telemetrygrpcport: 4327
            testset: 'storage/block/dfs-base'
          - telemetryhttpport: 4328
            testset: 'storage/block/dfs-base'
          - telemetrygrpcport: 4329
            testset: 'storage/block/fs-base'
          - telemetryhttpport: 4330
            testset: 'storage/block/fs-base'
          - telemetrygrpcport: 4331
            testset: 'storage/block/misc'
          - telemetryhttpport: 4332
            testset: 'storage/block/misc'
          - telemetrygrpcport: 4333
            testset: 'storage/block/namenode'
          - telemetryhttpport: 4334
            testset: 'storage/block/namenode'
          - telemetryoutput: 'coordination-base'
            testset: 'coordination/base'
          - telemetryoutput: 'storage-block-base'
            testset: 'storage/block/base'
          - telemetryoutput: 'storage-block-balancer'
            testset: 'storage/block/balancer'
          - telemetryoutput: 'storage-block-blockmanagement'
            testset: 'storage/block/blockmanagement'
          - telemetryoutput: 'storage-block-datanode'
            testset: 'storage/block/datanode'
          - telemetryoutput: 'storage-block-dfs-base'
            testset: 'storage/block/dfs-base'
          - telemetryoutput: 'storage-block-fs-base'
            testset: 'storage/block/fs-base'
          - telemetryoutput: 'storage-block-misc'
            testset: 'storage/block/misc'
          - telemetryoutput: 'storage-block-namenode'
            testset: 'storage/block/namenode'
          - testname: 'Base distributed coordination tests'
            testset: 'coordination/base'
          - testname: 'Base distributed block storage tests'
            testset: 'storage/block/base'
          - testname: 'Distributed block storage balancer tests'
            testset: 'storage/block/balancer'
          - testname: 'Distributed block storage management tests'
            testset: 'storage/block/blockmanagement'
          - testname: 'Distributed block storage datanode tests'
            testset: 'storage/block/datanode'
          - testname: 'Base distributed block dfs storage tests'
            testset: 'storage/block/dfs-base'
          - testname: 'Base distributed block fs storage tests'
            testset: 'storage/block/fs-base'
          - testname: 'Misc distributed block storage tests'
            testset: 'storage/block/misc'
          - testname: 'Distributed block storage namenode tests'
            testset: 'storage/block/namenode'
    name: Testing, ${{ join(matrix.*, ' - ') }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up JDK 25
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: '25'
        distribution: 'temurin'
    - name: Setup tests telemetry collection
      id: setup-telemetry
      uses: mishmash-io/setup-telemetry-collection@abadea88c78a1b250cc1e8270591176de764d663
      with:
        java-agent-version: '2.24.0'
        github-token: ${{ secrets.GITHUB_TOKEN }}
        logs-artifact: telemetry-logs-${{ matrix.telemetryoutput }}
        metrics-artifact: telemetry-metrics-${{ matrix.telemetryoutput }}
        traces-artifact: telemetry-traces-${{ matrix.telemetryoutput }}
        save-profiles: true
        profiles-artifact: telemetry-profiles-${{ matrix.telemetryoutput }}
        grpc-port: ${{ matrix.telemetrygrpcport }}
        http-port: ${{ matrix.telemetryhttpport }}

    - name: Restore cached build artifacts
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      id: buildcache
      with:
        path: ~/.m2/repository
        key: ${{ needs.compile.outputs.build-cache-key }}
        fail-on-cache-miss: true
    - name: Run test set ${{ matrix.testset }}
      env:
        OTEL_SERVICE_NAME: maven-test-service
        #OTEL_RESOURCE_ATTRIBUTES: git.ref=${{ github.ref }},git.sha=${{ github.sha }}
        #OTEL_EXPORTER_OTLP_PROTOCOL: grpc
        #OTEL_EXPORTER_OTLP_ENDPOINT: http://localhost:${{ matrix.telemetryport }}
      run: cd tests/${{ matrix.testset }} && mvn --offline -Dsurefire.rerunFailingTestsCount=2 -Dtest.instrumentation.opts=-javaagent:${{ steps.setup-telemetry.outputs.java-agent }} test --file pom.xml
    - name: Create test reports
      run: cd tests/${{ matrix.testset }} && mvn javadoc:test-javadoc jxr:test-jxr-no-fork surefire-report:report-only
      if: always()
    - name: Upload tests report
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      continue-on-error: true
      with:
        name: test-reports-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/reports
    - name: Upload tests extra files
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      continue-on-error: true
      with:
        name: test-raw-files-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/surefire
    - name: Upload tests raw reports
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: always()
      continue-on-error: true
      with:
        name: test-raw-reports-${{ matrix.telemetryoutput }}
        path: tests/${{ matrix.testset }}/target/surefire-reports

  site:
    name: Update project web site
    needs: test
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Download test reports
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: test-reports
          pattern: test-reports-*
          merge-multiple: false
      - name: Copy static files
        run: cp -R site/* test-reports
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: test-reports/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
